h1{
    color:rgb(10, 117, 10);
  }
  header{
    background-color: rgb(199, 247, 211);
    border: 4px solid rgb(7, 104, 40);
    padding: 10px;
    border-radius: 25px;
   
  }
  div{
    width: 500px;
  }
  body{
       
    background-image: url('pho.png');
    
  }
  #final-1{
      color: rgb(8, 109, 22);
  }
  .common{
      color: rgb(122, 9, 9);
      
  }